html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 14px;

  background-clip: padding-box;
  border: 4px solid rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb:hover {
  background: #757575;
  background-clip: padding-box;
  border: 4px solid rgba(0, 0, 0, 0);
}
